<div class="container my-2">
    <h1 class="h1 text-center">Write Post</h1>
  
    <!-- Write Post form -->
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Post Title:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Enter the title</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Body:</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="sub">Submit</button>
    </form>
  </div>
  
  <script src="../app/write-post.js"></script>